.display.state-q0 {
    animation: q0Anim 1.5s ease forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: black;
    font-family: 'Aldo the Apache';
}

  @keyframes q0Anim {
      0% { background-color: rgb(58, 73, 212) }
      100% { background-color: rgb(104, 166, 247); }
  }

/* --- Estado activo (cuando se inserta) --- */
.card.insert {
  animation: insertCard 4s ease forwards;
}

  @keyframes insertCard {
    0% {
      top: 100%;
      opacity: 1;
    }
    75% {
      top: 30%;
    }
    100% {
      top: 30%;
      opacity: 0; /* desaparece dentro de la ranura */
    }
  }

.display.state-q2, .display.state-q4, .display.state-q5 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: rgb(71, 1, 1); /* tono rojizo suave */
    text-align: center;
    font-family: 'Aldo the Apache';
}

.display.state-q3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: black;
    text-align: center;
    font-family: 'Aldo the Apache';
}

  .pin-container {
      font-size: 4rem;
      letter-spacing: 1rem;
      margin-top: 1rem;
      color: rgb(49, 48, 51);
  }

  .digit-btn.press {
      transform: translateY(3px);
      box-shadow: 0 0px rgb(97, 93, 100);
      background-color: rgb(169, 166, 177);
      transition: all 0.1s ease-in-out;
  }

.display.state-q6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    color: black;
    text-align: center;
    font-family: 'Aldo the Apache';
}

  .amount-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      font-size: 4rem;
  }

  .money-symbol {
      font-weight: bold;
      margin-right: 0.5rem;
      color: rgb(36, 36, 36);
  }

  .money-amount {
      letter-spacing: 0.5rem;
      color: rgb(49, 48, 51);
  }