.display.state-q0 {
    animation: q0Anim 5s ease forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: black;
    font-family: 'Aldo the Apache';
}
.display.state-q1 {
    animation: q1Anim 3s ease;
}
/* ... y así con cada estado */

@keyframes q0Anim {
    0% { background-color: rgb(58, 73, 212) }
    100% { background-color: rgb(73, 146, 241); }
}

@keyframes q1Anim {
    0% { background-color: rgb(65, 138, 233); }
    50% { background-color: rgb(255, 200, 0); }
    100% { background-color: rgb(65, 138, 233); }
}
