.display.state-q0 {
    animation: q0Anim 1.5s ease forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: black;
    font-family: 'Aldo the Apache';
}

@keyframes q0Anim {
    0% { background-color: rgb(58, 73, 212) }
    100% { background-color: rgb(104, 166, 247); }
}

/* --- Estado activo (cuando se inserta) --- */
.card.insert {
  animation: insertCard 4s ease forwards;
}

@keyframes insertCard {
  0% {
    top: 100%;
    opacity: 1;
  }
  75% {
    top: 30%;
  }
  100% {
    top: 30%;
    opacity: 0; /* desaparece dentro de la ranura */
  }
}