@font-face {
  font-family: 'Lemon Milk';
  src: url('../fonts/LEMONMILK-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aldo the Apache';
  src: url('../fonts/AldotheApache.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}